<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel="stylesheet" href="./stylesheet/signin-signup.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.0/jquery.validate.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.0/jquery.validate.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.0/additional-methods.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.0/additional-methods.min.js"></script>

</head>
<body>
<h2>Connecting People</h2>
<div class="container" id="container">
  <div class="form-container sign-up-container">
    <form action="/members/save" id="form-signUp" method="post">
      <h1>Create Account</h1>
      <!-- <div class="social-container">
          <a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
          <a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
          <a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
      </div> -->
      <!-- <span>or use your email for registration</span> -->
      <input type="text"  name="fullName" placeholder="Full name" required />
      <input type="text"  name="username" placeholder="User name" minlength="5" maxlength="20" required/>
      <input type="tel" name="phoneNumber" placeholder="Phone number" required />
      <input type="email" name="email" placeholder="Email" required/>
      <input type="text" name="Address" placeholder="Address" required/>
      <input type="password" name="password" placeholder="Password" required/>
      <input type="submit" value="Sign UP">
    </form>
  </div>
  <div class="form-container sign-in-container">
    <form action="/members/login" id="form-signIn" method="post">
      <h1>Sign in</h1>
      <!-- <div class="social-container">
          <a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
          <a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
          <a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
      </div>
      <span>or use your account</span> -->
      <input type="text" id="username" name="username" placeholder="User name" minlength="5" maxlength="20"/>
      <input type="password"  name="password"  placeholder="Password" required/>
      <a href="#">Forgot your password?</a>

      <button>SignIn
      </button>



    </form>
  </div>
  <div class="overlay-container">
    <div class="overlay">
      <div class="overlay-panel overlay-left">
        <h1>Welcome Back!</h1>
        <p>To keep connected with us please login with your personal info</p>
        <button class="ghost" id="signIn">Sign In</button>
      </div>
      <div class="overlay-panel overlay-right">
        <h1>Hello, Friend!</h1>
        <p>Enter your personal details and start journey with us</p>
        <button class="ghost" id="signUp">Sign Up</button>
      </div>
    </div>
  </div>
</div>
<footer>
  <!-- <p>
      Created with <i class="fa fa-heart"></i> by
      <a target="_blank" href="https://florin-pop.com">Florin Pop</a>
      - Read how I created this and how you can join the challenge
      <a target="_blank" href="https://www.florin-pop.com/blog/2019/03/double-slider-sign-in-up-form/">here</a>.
  </p> -->
</footer>

</body>
<script type="text/javascript">
  const signUpButton = document.getElementById('signUp');
  const signInButton = document.getElementById('signIn');
  const container = document.getElementById('container');

  signUpButton.addEventListener('click', () => {
    container.classList.add("right-panel-active");
  });

  signInButton.addEventListener('click', () => {
    container.classList.remove("right-panel-active");
  });
</script>

<!--<script>-->
<!--  $(document).ready(function () {-->
<!--    $('#form-signIn').validate();-->
<!--  });-->
<!--  $(document).ready(function () {-->
<!--    $('#form-signUp').validate();-->
<!--  });-->
<!--</script>-->
</html>