<!doctype html>
<html lang="en">
<head>
	<!-- Basic Page Needs
	================================================== -->
	<title>Job Stock - Responsive Job Portal Bootstrap Template | ThemezHub</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<!-- CSS
	================================================== -->
	<link rel="stylesheet" href="../assets/plugins/css/plugins.css">
    <link href="../assets/css/style.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.0/jquery.validate.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.0/jquery.validate.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.0/additional-methods.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.0/additional-methods.min.js"></script>
	
</head>

	<body>
		<div class="Loader"></div>
		<div class="wrapper">  
			
			<!-- Start Navigation -->
			<nav class="navbar navbar-default navbar-fixed navbar-light white bootsnav">

				<div class="container">            
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu">
						<i class="fa fa-bars"></i>
					</button>
					<!-- Start Header Navigation -->
					<div class="navbar-header">
						<a class="navbar-brand" href="index.html">
							<img src="../assets/img/logo.png" class="logo logo-scrolled" alt="">
						</a>
					</div>

					<!-- Collect the nav links, forms, and other content for toggling -->
					<div class="collapse navbar-collapse" id="navbar-menu">
						
						<ul class="nav navbar-nav navbar-right" data-in="fadeInDown" data-out="fadeOutUp">
							<li><a href="login.html"><i class="fa fa-pencil" aria-hidden="true"></i>Sign out</a></li>
							<!-- <li><a href="pricing.html"><i class="fa fa-sign-in" aria-hidden="true"></i>Pricing</a></li> -->
							<li class="left-br"><a href="javascript:void(0)"  data-toggle="modal" data-target="#signup" class="signin">SignIN</a></li>
						</ul>
						
					</div><!-- /.navbar-collapse -->
				</div>   
			</nav>
			<!-- End Navigation -->
			<div class="clearfix"></div>
			
			<!-- Header Title Start -->
			<section class="inner-header-title blank">
				<div class="container">
				</div>
			</section>
			<div class="clearfix"></div>
			<!-- Header Title End -->
			
			<!-- General Detail Start -->
			<div class="detail-desc section">
				<div class="container">
					
					<div class="ur-detail-wrap create-kit padd-bot-0">
						<div class="row">
							<div class="detail-pic js">
								<div class="box">
									<!-- <input type="file" name="upload-pic[]" id="upload-pic" class="inputfile" />
									<label for="upload-pic"><i class="fa fa-upload" aria-hidden="true"></i><span></span></label> -->
								</div>
							</div>
						</div>
					
						<div class="row bottom-mrg">
							<form action="/jobs/createJob" method="post" class="add-feild" id="form-create">


								<div class="col-md-6 col-sm-6">
									<div class="input-group">
										<select class="form-control input-lg" name="jobCategories">
											<option>Vệ sinh sau xây dựng</option>
											<option>Vệ sinh ghế sofa, cửa, lau kính</option>
											<option>Vệ sinh phòng làm việc</option>
											<option>Dọn nhà vệ sinh</option>
											<option>Chuyển đồ</option>
										</select>
									</div>
								</div>

								<div class="col-md-6 col-sm-6">
									<div class="input-group">
										<input type="number" name="salary" class="form-control" placeholder="Wage" min="1" required="required">
									</div>
								</div>

								<div class="col-md-6 col-sm-6">
									<div class="input-group">
										<input type="Time" class="form-control" name="jobTimeBegin" placeholder="Time Begin" required="required">
									</div>
								</div>

								<div class="col-md-6 col-sm-6">
									<div class="input-group">
										<input type="Date" name="jobDateBegin" class="form-control" placeholder="Date Begin" required="required">
									</div>
								</div>

								<div class="col-md-6 col-sm-6">
									<div class="input-group">
										<input type="number" name="totalTime" class="form-control" placeholder="Total Time" min="1" max="24" required="required">
									</div>
								</div>

								<div class="col-md-6 col-sm-6">
									<div class="input-group">
										<select class="form-control input-lg" name="jobLocation">
											<option>Quận Ba Đình</option>
											<option>Quận Hoàn Kiếm</option>
											<option>Quận Tây Hồ</option>
											<option>Quận Long Biên</option>
											<option>Quận Cầu Giấy</option>
											<option>Quận Đống Đa</option>
											<option>Quận Hai Bà Trưng</option>
											<option>Quận Hoàng Mai</option>
											<option>Quận Thanh Xuân</option>
											<option>Quận Nam Từ Liêm</option>
											<option>Quận Bắc Từ Liêm</option>
											<option>Quận Hà Đông</option>
										</select>
									</div>
								</div>

								<div class="col-md-12 col-sm-12">

									<textarea class="form-control" name="jobDescribtion" placeholder="Job Description" minlength="20" required="required"></textarea>
								</div>

								<div class="row no-padd">
									<div class="detail pannel-footer">
										<div class="col-md-12 col-sm-12">
											<div class="detail-pannel-footer-btn pull-right">
												<input type="submit" name="Create New Job" value="Create New Job" style="background-color: #53bb13; color: white">
											</div>
										</div>
									</div>
								</div>

							</form>
<!--							<form action="/jobs/createJob" method="post">-->
<!--								<div> Categories <input type="text" name="jobCategories"></div>-->
<!--								<div> Describtion <input type="text" name="jobDescribtion"></div>-->
<!--								<div> Location <input type="text" name="jobLocation"></div>-->

<!--								<div> Time Begin<input type="text" name="jobTimeBegin"></div>-->
<!--								<div> Total Time <input type="text" name="totalTime"></div>-->
<!--								<div> Salary <input type="number" name="salary"></div>-->
<!--								<div>  <input type="submit" name="submit"></div>-->
<!--							</form>-->

						</div>
					
<!--						<div class="row no-padd">-->
<!--							<div class="detail pannel-footer">-->
<!--								<div class="col-md-12 col-sm-12">-->
<!--									<div class="detail-pannel-footer-btn pull-right">-->
<!--										<input type="button" name="Create New Job" value="Create New Job" style="background-color: #53bb13; color: white">-->
<!--									</div>-->
<!--								</div>-->
<!--							</div>-->
<!--						</div>-->
					</div>
				</div>
			</div>
			<!-- General Detail End -->
			
			<!-- Basic Full Detail Form Start -->
			
			<!-- End Sign Up Window -->
			
			<!-- Scripts
			================================================== -->
			<script type="text/javascript" src="../assets/plugins/js/jquery.min.js"></script>
			<script type="text/javascript" src="../assets/plugins/js/viewportchecker.js"></script>
			<script type="text/javascript" src="../assets/plugins/js/bootstrap.min.js"></script>
			<script type="text/javascript" src="../assets/plugins/js/bootsnav.js"></script>
			<script type="text/javascript" src="../assets/plugins/js/select2.min.js"></script>
			<script type="text/javascript" src="../assets/plugins/js/wysihtml5-0.3.0.js"></script>
			<script type="text/javascript" src="../assets/plugins/js/bootstrap-wysihtml5.js"></script>
			<script type="text/javascript" src="../assets/plugins/js/datedropper.min.js"></script>
			<script type="text/javascript" src="../assets/plugins/js/dropzone.js"></script>
			<script type="text/javascript" src="../assets/plugins/js/loader.js"></script>
			<script type="text/javascript" src="../assets/plugins/js/owl.carousel.min.js"></script>
			<script type="text/javascript" src="../assets/plugins/js/slick.min.js"></script>
			<script type="text/javascript" src="../assets/plugins/js/gmap3.min.js"></script>
			<script type="text/javascript" src="../assets/plugins/js/jquery.easy-autocomplete.min.js"></script>
			<!-- Custom Js -->
			<script src="../assets/js/custom.js"></script>
			
			<script>
				$('#company-dob').dateDropper();
			</script>
			<script >
				$(document).ready(function () {
    				$('#form-create').validate();
  				});
			</script>
		</div>
	</body>
</html>