<!doctype html>
<html lang="en">
<head>
    <!-- Basic Page Needs
    ================================================== -->
    <title>Job Stock - Responsive Job Portal Bootstrap Template | ThemezHub</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- CSS
    ================================================== -->
    <link rel="stylesheet" href="../assets/plugins/css/plugins.css">
    <link href="../assets/css/style.css" rel="stylesheet">

</head>

<body>
<div class="Loader"></div>
<div class="wrapper">
    <!-- Start Navigation -->
    <nav class="navbar navbar-default navbar-fixed navbar-transparent white bootsnav">

        <div class="container">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu">
                <i class="fa fa-bars"></i>
            </button>
            <!-- Start Header Navigation -->
            <div class="navbar-header">
                <a class="navbar-brand" href="index.html">
                    <img src="../assets/img/logo.png" class="logo logo-display" alt="">
                    <img src="../assets/img/logo-white.png" class="logo logo-scrolled" alt="">
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="navbar-menu">
                <ul class="nav navbar-nav navbar-right" data-in="fadeInDown" data-out="fadeOutUp">
                    <li><a href="../index.ejs"><i class="fa fa-pencil" aria-hidden="true" ></i>SignOut</a></li>
<!--                    <li><a href="pricing.html"><i class="fa fa-sign-in" aria-hidden="true"></i>Pricing</a></li>-->
<!--                    <li class="left-br"><a href="javascript:void(0)"  data-toggle="modal" data-target="#signup" class="signin">Sign In Now</a></li>-->
                </ul>
                <ul class="nav navbar-nav navbar-right" data-in="fadeInDown" data-out="fadeOutUp">
<!--                    <li class="dropdown megamenu-fw"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Brows</a>-->
<!--                        <ul class="dropdown-menu megamenu-content" role="menu">-->
<!--                            <li>-->
<!--                                <div class="row">-->
<!--                                    <div class="col-menu col-md-3">-->
<!--                                        <h6 class="title">Main Pages</h6>-->
<!--                                        <div class="content">-->
<!--                                            <ul class="menu-col">-->
<!--                                                <li><a href="index.html">Home Page 1</a></li>-->
<!--                                                <li><a href="index-2.html">Home Page 2</a></li>-->
<!--                                                <li><a href="index-3.html">Home Page 3</a></li>-->
<!--                                                <li><a href="index-4.html">Home Page 4</a></li>-->
<!--                                                <li><a href="index-5.html">Home Page 5</a></li>-->
<!--                                                <li><a href="freelancing.html">Freelancing</a></li>-->
<!--                                                <li><a href="signin-signup.html">Sign In / Sign Up</a></li>-->
<!--                                                <li><a href="search-job.html">Search Job</a></li>-->
<!--                                                <li><a href="accordion.html">Accordion</a></li>-->
<!--                                                <li><a href="tab.html">Tab Style</a></li>-->
<!--                                            </ul>-->
<!--                                        </div>-->
<!--                                    </div>&lt;!&ndash; end col-3 &ndash;&gt;-->
<!--                                    <div class="col-menu col-md-3">-->
<!--                                        <h6 class="title">For Candidate</h6>-->
<!--                                        <div class="content">-->
<!--                                            <ul class="menu-col">-->
<!--                                                <li><a href="browse-jobs.html">Browse Jobs</a></li>-->
<!--                                                <li><a href="search-new.html">New Search Job</a></li>-->
<!--                                                <li><a href="advance-search.html">Advance Search Job</a></li>-->
<!--                                                <li><a href="advance-search-2.html">Advance Search Job 2</a></li>-->
<!--                                                <li><a href="job-detail.html">Job Detail</a></li>-->
<!--                                                <li><a href="new-job-detail.html">New Job Detail</a></li>-->

<!--                                            </ul>-->
<!--                                        </div>-->
<!--                                    </div>&lt;!&ndash; end col-3 &ndash;&gt;-->
<!--                                    <div class="col-menu col-md-3">-->
<!--                                        <h6 class="title">For Employer</h6>-->
<!--                                        <div class="content">-->
<!--                                            <ul class="menu-col">-->
<!--                                                <li><a href="create-job.ejs">Create Job</a></li>-->
<!--                                                <li><a href="manage-candidate.html">Browse Candidate</a></li>-->
<!--                                                <li><a href="manage-employee.html">Manage Employee</a></li>-->
<!--                                                <li><a href="browse-resume.html">Browse Resume</a></li>-->
<!--                                                <li><a href="candidate-profile.html">Candidate Profile</a></li>-->
<!--                                                <li><a href="candidate-detail.html">New Candidate Detail</a></li>-->
<!--                                                <li><a href="employer-profile.html">Employer Profile</a></li>-->
<!--                                                <li><a href="manage-resume.html">Manage Resume</a></li>-->
<!--                                            </ul>-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--&lt;!&ndash;                                    <div class="col-menu col-md-3">&ndash;&gt;-->
<!--&lt;!&ndash;                                        <h6 class="title">Extra Pages <span class="new-offer">New</span></h6>&ndash;&gt;-->
<!--&lt;!&ndash;                                        <div class="content">&ndash;&gt;-->
<!--&lt;!&ndash;                                            <ul class="menu-col">&ndash;&gt;-->
<!--&lt;!&ndash;                                                <li><a href="top-candidate-detail.html">Top Candidate detail</a></li>&ndash;&gt;-->
<!--&lt;!&ndash;                                                <li><a href="job-apply-detail.html">New Apply Job</a></li>&ndash;&gt;-->
<!--&lt;!&ndash;                                                <li><a href="payment-methode.html">Payment Methode</a></li>&ndash;&gt;-->
<!--&lt;!&ndash;                                                <li><a href="new-login-signup.html">New LogIn / SignUp</a></li>&ndash;&gt;-->
<!--&lt;!&ndash;                                                <li><a href="popular-jobs.html">Popular Jobs</a></li>&ndash;&gt;-->
<!--&lt;!&ndash;                                                <li><a href="top-candidate.html">Top candidate</a></li>&ndash;&gt;-->
<!--&lt;!&ndash;                                                <li><a href="top-candidate-2.html">Top candidate 2</a></li>&ndash;&gt;-->
<!--&lt;!&ndash;                                                <li><a href="premium-candidate.html">Premium Candidate</a></li>&ndash;&gt;-->
<!--&lt;!&ndash;                                                <li><a href="premium-candidate-detail.html">Premium Candidate Detail</a></li>&ndash;&gt;-->
<!--&lt;!&ndash;                                                <li><a href="blog-detail.html">Blog detail</a></li>&ndash;&gt;-->
<!--&lt;!&ndash;                                            </ul>&ndash;&gt;-->
<!--&lt;!&ndash;                                        </div>&ndash;&gt;-->
<!--                                    </div>&lt;!&ndash; end col-3 &ndash;&gt;-->
<!--                                </div>&lt;!&ndash; end row &ndash;&gt;-->
                            </li>
                        </ul>
                    </li>
<!--                    <li><a href="blog.html">Blog</a></li>-->
                </ul>
            </div><!-- /.navbar-collapse -->
        </div>
    </nav>
    <!-- End Navigation -->
    <div class="clearfix"></div>

    <!-- Main Banner Section Start -->
    <div class="banner" style="background-image:url(http://via.placeholder.com/1920x850);">
        <div class="container">
            <div class="banner-caption">
                <div class="col-md-12 col-sm-12 banner-text">
                    <h1>7,00+ Browse Jobs</h1>






                    <form class="form-horizontal" action="/jobs/findJob" method="post">
<!--

<div class="col-md-4 no-padd">-->
<!--                            <div class="input-group">-->
<!--                                <select name="jobCategories">-->
<!--                                    <option value="none">&#45;&#45;Không chọn&#45;&#45;</option>-->
<!--                                    <option value="Vệ sinh sau xây dựng">Vệ sinh sau xây dựng</option>-->
<!--                                    <option value="Vệ sinh ghế Sofa, cửa, lau kính">Vệ sinh ghế Sofa, cửa, lau kính</option>-->
<!--                                    <option value="Vệ sinh phòng làm việc">Vệ sinh phòng làm việc</option>-->
<!--                                    <option value="Dọn nhà vệ sinh">Dọn nhà vệ sinh</option>-->
<!--                                    <option value="Chuyển đồ">Chuyển đồ</option>-->
<!--                                </select>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <div class="col-md-3 no-padd">-->
<!--                            <div class="input-group">-->
<!--                                <select name="totalTime">-->
<!--                                    <option value="none">&#45;&#45;Không chọn&#45;&#45;</option>-->
<!--                                    <option value="1">1</option>-->
<!--                                    <option value="2">2</option>-->
<!--                                    <option value="3">3</option>-->
<!--                                    <option value="4">4</option>-->
<!--                                </select>-->
<!--                            </div>-->
<!--                        </div>-->

<!--                        <div class="col-md-3 no-padd">-->
<!--                            <div class="input-group">-->
<!--                                <select id="choose-Place" class="form-control" name="jobLocation">-->
<!--                                    <option value="none">&#45;&#45;Không chọn&#45;&#45;</option>-->
<!--                                    <option value="Quận Ba Đình">Quận Ba Đình</option>-->
<!--                                    <option value="Quận Thanh Xuân">Quận Thanh Xuân</option>-->
<!--                                    <option value="Quận Tây Hồ">Quận Tây Hồ</option>-->
<!--                                    <option value="Quận Hoàng Mai">Quận Hoàng Mai</option>-->
<!--                                    <option value="Quận Long Biên">Quận Long Biên</option>-->
<!--                                    <option value="Quận Hai Bà Trưng">Quận Hai Bà Trưng</option>-->
<!--                                    <option value="Quận Đống Đa">Quận Đống Đa</option>-->
<!--                                    <option value="Quận Bắc Từ Liêm">Quận Bắc Từ Liêm</option>-->
<!--                                </select>-->
<!--                            </div>-->
<!--                        </div>-->
                        <div class="col-md-3 col-sm-3">
                            <select class="form-control" id="j-category" name="jobCategories">
                                <option value="none">--Không chọn--</option>
                                <option value="Vệ sinh sau xây dựng">Vệ sinh sau xây dựng</option>
                                <option value="Vệ sinh ghế Sofa, cửa, lau kính">Vệ sinh ghế Sofa, cửa, lau kính</option>
                                <option value="Vệ sinh phòng làm việc">Vệ sinh phòng làm việc</option>
                                <option value="Dọn nhà vệ sinh">Dọn nhà vệ sinh</option>
                                <option value="Chuyển đồ">Chuyển đồ</option>
                            </select>

                        </div>

                        <div class="col-md-3 col-sm-3">
                            <select class="form-control" id="j-category" name="jobLocation">
                                <!-- <option value="">&nbsp;</option> -->
                                <option value="none">--Không chọn--</option>
                                <option value="Quận Ba Đình">Quận Ba Đình</option>
                                <option value="Quận Thanh Xuân">Quận Thanh Xuân</option>
                                <option value="Quận Tây Hồ">Quận Tây Hồ</option>
                                <option value="Quận Hoàng Mai">Quận Hoàng Mai</option>
                                <option value="Quận Long Biên">Quận Long Biên</option>
                                <option value="Quận Hai Bà Trưng">Quận Hai Bà Trưng</option>
                                <option value="Quận Đống Đa">Quận Đống Đa</option>
                                <option value="Quận Bắc Từ Liêm">Quận Bắc Từ Liêm</option>
                            </select>

                        </div>

                        <div class="col-md-4 col-sm-4">
                            <select class="form-control" id="j-category" name="totalTime">
                                <option value="none">--Không chọn--</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                            </select>

                        </div>
                        <div class="col-md-2 no-padd">
                            <div class="input-group">
                                <button type="submit" class="btn btn-primary" >Search Job</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="company-brand">
            <div class="container">
                <div id="company-brands" class="owl-carousel">
                    <div class="brand-img">
                        <img src="assets/img/microsoft-home.png" class="img-responsive" alt="" />
                    </div>
                    <div class="brand-img">
                        <img src="assets/img/img-home.png" class="img-responsive" alt="" />
                    </div>
                    <div class="brand-img">
                        <img src="assets/img/mothercare-home.png" class="img-responsive" alt="" />
                    </div>
                    <div class="brand-img">
                        <img src="assets/img/paypal-home.png" class="img-responsive" alt="" />
                    </div>
                    <div class="brand-img">
                        <img src="assets/img/serv-home.png" class="img-responsive" alt="" />
                    </div>
                    <div class="brand-img">
                        <img src="assets/img/xerox-home.png" class="img-responsive" alt="" />
                    </div>
                    <div class="brand-img">
                        <img src="assets/img/yahoo-home.png" class="img-responsive" alt="" />
                    </div>
                    <div class="brand-img">
                        <img src="assets/img/mothercare-home.png" class="img-responsive" alt="" />
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="clearfix"></div>
    <!-- Main Banner Section End -->

    <!-- Job List-->
    <section>
        <div class="container">

            <div class="row">
                <div class="main-heading">
                    <p>200 New Jobs</p>
                    <h2>New & Random <span>Jobs</span></h2>
                </div>
            </div>

            <div id="page-wrapper">
                <div class="row page-titles">
                    <div class="col-md-5 align-self-center">
                        <h3 class="text-themecolor"><a href="/jobs/createJob">Create New Jobs</a></h3>

                        <h3 class="text-themecolor">Manage Jobs</h3>
                    </div>
<!--                    <div class="col-md-7 align-self-center">-->
<!--                        <ol class="breadcrumb">-->
<!--                            <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>-->
<!--                            <li class="breadcrumb-item"><a href="javascript:void(0)">For Employer</a></li>-->
<!--                            <li class="breadcrumb-item active">Manage Jobs</li>-->
<!--                        </ol>-->
<!--                    </div>-->
                </div>
                <div class="container-fluid">
                    <!-- /row -->
                    <div class="row">
                        <div class="col-md-12 col-sm-12">
                            <div class="card">

                                <div class="card-header">

<!--                                    <input type="text" class="form-control wide-width" placeholder="Search & type" />-->
                                </div>

                                <div class="card-body">
                                    <ul class="list">
                                        <% for (var i = 0; i < listData.length; i++){ %>
                                            <li class="data-item">
<!--        <span>-->
<!--            <img src="http://res.cloudinary.com/xuanhung2401/image/upload/c_pad,w"-->
<!--                   alt="<%= listData[i].name %>">-->
<!--        </span>-->
                                                <span><%= listData[i].jobCategories %></span>
                                                <span>
            <!--<a href="/admin/products/detail/<%= listData[i]._id %>">Detail</a>&nbsp;-->
                                                    <!--<a href="/admin/products/edit/<%= listData[i]._id %>">Edit</a>&nbsp;-->
                                                    <!--<a title="<%= listData[i]._id %>" class="btn-delete" href="#">Delete</a>&nbsp;-->
                    <%= listData[i].salary%> $
        </span>
                                            </li>
                                        <% } %>

                                    </ul>
                                    <div>
                                        <%
                                        if(parseInt(page) > 1){
                                        %>
                                            <span>
        <a href="/jobs/list?page=<%= parseInt(page) - 1 %>&limit=<%= limit %>">
            <%= parseInt(page) - 1 %></a>
    </span>
                                        <%
                                        }
                                        %>
                                        <span><%= page %></span>
                                        <%
                                        if(parseInt(page) < parseInt(totalPage)){
                                        %>
                                            <span>
        <a href="/jobs/list?page=<%= parseInt(page) + 1 %>&limit=<%= limit %>">
            <%= parseInt(page) + 1 %></a>
    </span>
                                        <%
                                        }
                                        %>
                                    </div>
                                </div>

<!--                                    <div class="flexbox padd-10">-->
<!--                                        <ul class="pagination">-->
<!--                                            <li class="page-item">-->
<!--                                                <a class="page-link" href="#" aria-label="Previous">-->
<!--                                                    <i class="ti-arrow-left"></i>-->
<!--                                                    <span class="sr-only">Previous</span>-->
<!--                                                </a>-->
<!--                                            </li>-->
<!--                                            <li class="page-item active"><a class="page-link" href="#">1</a></li>-->
<!--                                            <li class="page-item"><a class="page-link" href="#">2</a></li>-->
<!--                                            <li class="page-item"><a class="page-link" href="#">3</a></li>-->
<!--                                            <li class="page-item">-->
<!--                                                <a class="page-link" href="#" aria-label="Next">-->
<!--                                                    <i class="ti-arrow-right"></i>-->
<!--                                                    <span class="sr-only">Next</span>-->
<!--                                                </a>-->
<!--                                            </li>-->
<!--                                        </ul>-->
<!--                                    </div>-->
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /row -->
                </div>
            </div>
            <!-- /#page-wrapper -->


<!--            <div id="sidebar-wrapper">-->
<!--                <a id="right-close-sidebar-toggle" href="#" class="theme-bg btn close-toogle toggle">-->
<!--                    Setting Pannel <i class="ti-close"></i></a>-->
<!--                <div class="right-sidebar" id="side-scroll">-->
<!--                    <div class="user-box">-->
<!--                        <div class="profile-img">-->
<!--                            <img src="assets/img/user-3.jpg" alt="user">-->
<!--                            &lt;!&ndash; this is blinking heartbit&ndash;&gt;-->
<!--                            <div class="notify setpos"> <span class="heartbit"></span> <span class="point"></span> </div>-->
<!--                        </div>-->
<!--                        <div class="profile-text">-->
<!--                            <h4>Daniel Dax</h4>-->
<!--                            <a href="#" class="user-setting"><i class="ti-settings"></i></a>-->
<!--                            <a href="#" class="user-mail"><i class="ti-email"></i></a>-->
<!--                            <a href="#" class="user-call"><i class="ti-headphone"></i></a>-->
<!--                            <a href="#" class="user-logout"><i class="ti-power-off"></i></a>-->
<!--                        </div>-->
<!--                        <div class="tabbable-line">-->
<!--                            <ul class="nav nav-tabs ">-->
<!--                                <li class="active">-->
<!--                                    <a href="#options" data-toggle="tab">-->
<!--                                        <i class="ti-palette"></i> </a>-->
<!--                                </li>-->
<!--                                <li>-->
<!--                                    <a href="#comments" data-toggle="tab">-->
<!--                                        <i class="ti-bell"></i> </a>-->
<!--                                </li>-->
<!--                                <li>-->
<!--                                    <a href="#freinds" data-toggle="tab">-->
<!--                                        <i class="ti-comment-alt"></i> </a>-->
<!--                                </li>-->
<!--                            </ul>-->
<!--                            <div class="tab-content">-->
<!--                                <div class="tab-pane active" id="options">-->
<!--                                    <div class="accept-request">-->
<!--                                        <div class="friend-overview">-->
<!--                                            <div class="friend-overview-img">-->
<!--                                                <img src="assets/img/user-1.jpg" class="img-responsive img-circle" alt="">-->
<!--                                                <span class="fr-user-status online"></span>-->
<!--                                            </div>-->
<!--                                            <div class="fr-request-detail">-->
<!--                                                <h4>Adam Dax <span class="task-time pull-right">Just Now</span></h4>-->
<!--                                                <p>Accept Your Friend Request</p>-->
<!--                                            </div>-->
<!--                                        </div>-->
<!--                                        <div class="friend-overview">-->
<!--                                            <div class="friend-overview-img">-->
<!--                                                <img src="assets/img/user-2.jpg" class="img-responsive img-circle" alt="">-->
<!--                                                <span class="fr-user-status offline"></span>-->
<!--                                            </div>-->
<!--                                            <div class="fr-request-detail">-->
<!--                                                <h4>Rita Ray <span class="task-time pull-right">2 Min Ago</span></h4>-->
<!--                                                <p>Accept Your Friend Request</p>-->
<!--                                            </div>-->
<!--                                        </div>-->
<!--                                        <div class="friend-overview">-->
<!--                                            <div class="friend-overview-img">-->
<!--                                                <img src="assets/img/user-3.jpg" class="img-responsive img-circle" alt="">-->
<!--                                                <span class="fr-user-status busy"></span>-->
<!--                                            </div>-->
<!--                                            <div class="fr-request-detail">-->
<!--                                                <h4>Daniel Mark <span class="task-time pull-right">7 Min Ago</span></h4>-->
<!--                                                <p>Accept Your Friend Request</p>-->
<!--                                            </div>-->
<!--                                        </div>-->
<!--                                        <div class="friend-overview">-->
<!--                                            <div class="friend-overview-img">-->
<!--                                                <img src="assets/img/user-4.jpg" class="img-responsive img-circle" alt="">-->
<!--                                                <span class="fr-user-status offline"></span>-->
<!--                                            </div>-->
<!--                                            <div class="fr-request-detail">-->
<!--                                                <h4>Shruti Singh <span class="task-time pull-right">10 Min Ago</span></h4>-->
<!--                                                <p>Accept Your Friend Request</p>-->
<!--                                            </div>-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                                <div class="tab-pane" id="comments">-->
<!--                                    <div class="task">-->
<!--                                        <div class="task-overview">-->
<!--                                            <div class="alpha-box alpha-a">-->
<!--                                                <span>A</span>-->
<!--                                            </div>-->
<!--                                            <div class="task-detail">-->
<!--                                                <p>Hello, I am Maryam.</p>-->
<!--                                                <span class="task-time">2 Min Ago</span>-->
<!--                                            </div>-->
<!--                                        </div>-->
<!--                                        <div class="task-overview">-->
<!--                                            <div class="alpha-box alpha-d">-->
<!--                                                <span>D</span>-->
<!--                                            </div>-->
<!--                                            <div class="task-detail">-->
<!--                                                <p>Hello, I am Maryam.</p>-->
<!--                                                <span class="task-time">2 Min Ago</span>-->
<!--                                            </div>-->
<!--                                        </div>-->
<!--                                        <div class="task-overview">-->
<!--                                            <div class="alpha-box alpha-s">-->
<!--                                                <span>S</span>-->
<!--                                            </div>-->
<!--                                            <div class="task-detail">-->
<!--                                                <p>Hello, I am Maryam.</p>-->
<!--                                                <span class="task-time">2 Min Ago</span>-->
<!--                                            </div>-->
<!--                                        </div>-->
<!--                                        <div class="task-overview">-->
<!--                                            <div class="alpha-box alpha-h">-->
<!--                                                <span>H</span>-->
<!--                                            </div>-->
<!--                                            <div class="task-detail">-->
<!--                                                <p>Hello, I am Maryam.</p>-->
<!--                                                <span class="task-time">2 Min Ago</span>-->
<!--                                            </div>-->
<!--                                        </div>-->
<!--                                        <div class="task-overview">-->
<!--                                            <div class="alpha-box alpha-g">-->
<!--                                                <span>G</span>-->
<!--                                            </div>-->
<!--                                            <div class="task-detail">-->
<!--                                                <p>Hello, I am Maryam.</p>-->
<!--                                                <span class="task-time">2 Min Ago</span>-->
<!--                                            </div>-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                                <div class="tab-pane" id="freinds">-->
<!--                                    <div class="accept-request">-->
<!--                                        <div class="friend-overview">-->
<!--                                            <div class="friend-overview-img">-->
<!--                                                <img src="assets/img/user-1.jpg" class="img-responsive img-circle" alt="">-->
<!--                                                <span class="fr-user-status online"></span>-->
<!--                                            </div>-->
<!--                                            <div class="fr-request-detail">-->
<!--                                                <h4>Adam Dax <span class="task-time pull-right">Just Now</span></h4>-->
<!--                                                <p>Accept Your Friend Request</p>-->
<!--                                            </div>-->
<!--                                        </div>-->
<!--                                        <div class="friend-overview">-->
<!--                                            <div class="friend-overview-img">-->
<!--                                                <img src="assets/img/user-2.jpg" class="img-responsive img-circle" alt="">-->
<!--                                                <span class="fr-user-status offline"></span>-->
<!--                                            </div>-->
<!--                                            <div class="fr-request-detail">-->
<!--                                                <h4>Rita Ray <span class="task-time pull-right">2 Min Ago</span></h4>-->
<!--                                                <p>Accept Your Friend Request</p>-->
<!--                                            </div>-->
<!--                                        </div>-->
<!--                                        <div class="friend-overview">-->
<!--                                            <div class="friend-overview-img">-->
<!--                                                <img src="assets/img/user-3.jpg" class="img-responsive img-circle" alt="">-->
<!--                                                <span class="fr-user-status busy"></span>-->
<!--                                            </div>-->
<!--                                            <div class="fr-request-detail">-->
<!--                                                <h4>Daniel Mark <span class="task-time pull-right">7 Min Ago</span></h4>-->
<!--                                                <p>Accept Your Friend Request</p>-->
<!--                                            </div>-->
<!--                                        </div>-->
<!--                                        <div class="friend-overview">-->
<!--                                            <div class="friend-overview-img">-->
<!--                                                <img src="assets/img/user-4.jpg" class="img-responsive img-circle" alt="">-->
<!--                                                <span class="fr-user-status offline"></span>-->
<!--                                            </div>-->
<!--                                            <div class="fr-request-detail">-->
<!--                                                <h4>Shruti Singh <span class="task-time pull-right">10 Min Ago</span></h4>-->
<!--                                                <p>Accept Your Friend Request</p>-->
<!--                                            </div>-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
            <footer class="footer"> ©Copyright 2018 Job Stock </footer>
        </div>
            <!--/row-->

<!--            &lt;!&ndash;Browse Job In Grid&ndash;&gt;-->
<!--            <div class="row extra-mrg">-->

<!--                &lt;!&ndash; Single Job Grid &ndash;&gt;-->
<!--                <div class="col-md-3 col-sm-6">-->
<!--                    <div class="grid-view brows-job-list">-->
<!--                        <div class="brows-job-company-img">-->
<!--                            <img src="http://via.placeholder.com/150x150" class="img-responsive" alt="" />-->
<!--                        </div>-->
<!--                        <div class="brows-job-position">-->
<!--                            <h3><a href="job-detail.html">Web Developer</a></h3>-->
<!--                            <p><span>Google</span></p>-->
<!--                        </div>-->
<!--                        <div class="job-position">-->
<!--                            <span class="job-num">5 Position</span>-->
<!--                        </div>-->
<!--                        <div class="brows-job-type">-->
<!--                            <span class="part-time">Part Time</span>-->
<!--                        </div>-->
<!--                        <ul class="grid-view-caption">-->
<!--                            <li>-->
<!--                                <div class="brows-job-location">-->
<!--                                    <p><i class="fa fa-map-marker"></i>QBL Park, C40</p>-->
<!--                                </div>-->
<!--                            </li>-->
<!--                            <li>-->
<!--                                <p><span class="brows-job-sallery"><i class="fa fa-money"></i>$110 - 200</span></p>-->
<!--                            </li>-->
<!--                        </ul>-->
<!--                    </div>-->
<!--                </div>-->

<!--                &lt;!&ndash; Single Job Grid &ndash;&gt;-->
<!--                <div class="col-md-3 col-sm-6">-->
<!--                    <div class="grid-view brows-job-list">-->
<!--                        <div class="brows-job-company-img">-->
<!--                            <img src="http://via.placeholder.com/150x150" class="img-responsive" alt="" />-->
<!--                        </div>-->
<!--                        <div class="brows-job-position">-->
<!--                            <h3><a href="job-detail.html">Web Developer</a></h3>-->
<!--                            <p><span>Google</span></p>-->
<!--                        </div>-->
<!--                        <div class="job-position">-->
<!--                            <span class="job-num">5 Position</span>-->
<!--                        </div>-->
<!--                        <div class="brows-job-type">-->
<!--                            <span class="freelanc">Freelancer</span>-->
<!--                        </div>-->
<!--                        <ul class="grid-view-caption">-->
<!--                            <li>-->
<!--                                <div class="brows-job-location">-->
<!--                                    <p><i class="fa fa-map-marker"></i>QBL Park, C40</p>-->
<!--                                </div>-->
<!--                            </li>-->
<!--                            <li>-->
<!--                                <p><span class="brows-job-sallery"><i class="fa fa-money"></i>$110 - 200</span></p>-->
<!--                            </li>-->
<!--                        </ul>-->
<!--                        <span class="tg-themetag tg-featuretag">Premium</span>-->
<!--                    </div>-->
<!--                </div>-->

<!--                &lt;!&ndash; Single Job Grid &ndash;&gt;-->
<!--                <div class="col-md-3 col-sm-6">-->
<!--                    <div class="grid-view brows-job-list">-->
<!--                        <div class="brows-job-company-img">-->
<!--                            <img src="http://via.placeholder.com/150x150" class="img-responsive" alt="" />-->
<!--                        </div>-->
<!--                        <div class="brows-job-position">-->
<!--                            <h3><a href="job-detail.html">Web Developer</a></h3>-->
<!--                            <p><span>Google</span></p>-->
<!--                        </div>-->
<!--                        <div class="job-position">-->
<!--                            <span class="job-num">5 Position</span>-->
<!--                        </div>-->
<!--                        <div class="brows-job-type">-->
<!--                            <span class="enternship">Enternship</span>-->
<!--                        </div>-->
<!--                        <ul class="grid-view-caption">-->
<!--                            <li>-->
<!--                                <div class="brows-job-location">-->
<!--                                    <p><i class="fa fa-map-marker"></i>QBL Park, C40</p>-->
<!--                                </div>-->
<!--                            </li>-->
<!--                            <li>-->
<!--                                <p><span class="brows-job-sallery"><i class="fa fa-money"></i>$110 - 200</span></p>-->
<!--                            </li>-->
<!--                        </ul>-->
<!--                    </div>-->
<!--                </div>-->

<!--                &lt;!&ndash; Single Job Grid &ndash;&gt;-->
<!--                <div class="col-md-3 col-sm-6">-->
<!--                    <div class="grid-view brows-job-list">-->
<!--                        <div class="brows-job-company-img">-->
<!--                            <img src="http://via.placeholder.com/150x150" class="img-responsive" alt="" />-->
<!--                        </div>-->
<!--                        <div class="brows-job-position">-->
<!--                            <h3><a href="job-detail.html">Web Developer</a></h3>-->
<!--                            <p><span>Google</span></p>-->
<!--                        </div>-->
<!--                        <div class="job-position">-->
<!--                            <span class="job-num">5 Position</span>-->
<!--                        </div>-->
<!--                        <div class="brows-job-type">-->
<!--                            <span class="full-time">Full Time</span>-->
<!--                        </div>-->
<!--                        <ul class="grid-view-caption">-->
<!--                            <li>-->
<!--                                <div class="brows-job-location">-->
<!--                                    <p><i class="fa fa-map-marker"></i>QBL Park, C40</p>-->
<!--                                </div>-->
<!--                            </li>-->
<!--                            <li>-->
<!--                                <p><span class="brows-job-sallery"><i class="fa fa-money"></i>$110 - 200</span></p>-->
<!--                            </li>-->
<!--                        </ul>-->
<!--                    </div>-->
<!--                </div>-->

<!--                &lt;!&ndash; Single Job Grid &ndash;&gt;-->
<!--                <div class="col-md-3 col-sm-6">-->
<!--                    <div class="grid-view brows-job-list">-->
<!--                        <div class="brows-job-company-img">-->
<!--                            <img src="http://via.placeholder.com/150x150" class="img-responsive" alt="" />-->
<!--                        </div>-->
<!--                        <div class="brows-job-position">-->
<!--                            <h3><a href="job-detail.html">Web Developer</a></h3>-->
<!--                            <p><span>Google</span></p>-->
<!--                        </div>-->
<!--                        <div class="job-position">-->
<!--                            <span class="job-num">5 Position</span>-->
<!--                        </div>-->
<!--                        <div class="brows-job-type">-->
<!--                            <span class="part-time">Part Time</span>-->
<!--                        </div>-->
<!--                        <ul class="grid-view-caption">-->
<!--                            <li>-->
<!--                                <div class="brows-job-location">-->
<!--                                    <p><i class="fa fa-map-marker"></i>QBL Park, C40</p>-->
<!--                                </div>-->
<!--                            </li>-->
<!--                            <li>-->
<!--                                <p><span class="brows-job-sallery"><i class="fa fa-money"></i>$110 - 200</span></p>-->
<!--                            </li>-->
<!--                        </ul>-->
<!--                        <span class="tg-themetag tg-featuretag">Premium</span>-->
<!--                    </div>-->
<!--                </div>-->

<!--                &lt;!&ndash; Single Job Grid &ndash;&gt;-->
<!--                <div class="col-md-3 col-sm-6">-->
<!--                    <div class="grid-view brows-job-list">-->
<!--                        <div class="brows-job-company-img">-->
<!--                            <img src="http://via.placeholder.com/150x150" class="img-responsive" alt="" />-->
<!--                        </div>-->
<!--                        <div class="brows-job-position">-->
<!--                            <h3><a href="job-detail.html">Web Developer</a></h3>-->
<!--                            <p><span>Google</span></p>-->
<!--                        </div>-->
<!--                        <div class="job-position">-->
<!--                            <span class="job-num">5 Position</span>-->
<!--                        </div>-->
<!--                        <div class="brows-job-type">-->
<!--                            <span class="full-time">Full Time</span>-->
<!--                        </div>-->
<!--                        <ul class="grid-view-caption">-->
<!--                            <li>-->
<!--                                <div class="brows-job-location">-->
<!--                                    <p><i class="fa fa-map-marker"></i>QBL Park, C40</p>-->
<!--                                </div>-->
<!--                            </li>-->
<!--                            <li>-->
<!--                                <p><span class="brows-job-sallery"><i class="fa fa-money"></i>$110 - 200</span></p>-->
<!--                            </li>-->
<!--                        </ul>-->
<!--                    </div>-->
<!--                </div>-->

<!--                &lt;!&ndash; Single Job Grid &ndash;&gt;-->
<!--                <div class="col-md-3 col-sm-6">-->
<!--                    <div class="grid-view brows-job-list">-->
<!--                        <div class="brows-job-company-img">-->
<!--                            <img src="http://via.placeholder.com/150x150" class="img-responsive" alt="" />-->
<!--                        </div>-->
<!--                        <div class="brows-job-position">-->
<!--                            <h3><a href="job-detail.html">Web Developer</a></h3>-->
<!--                            <p><span>Google</span></p>-->
<!--                        </div>-->
<!--                        <div class="job-position">-->
<!--                            <span class="job-num">5 Position</span>-->
<!--                        </div>-->
<!--                        <div class="brows-job-type">-->
<!--                            <span class="freelanc">Freelancer</span>-->
<!--                        </div>-->
<!--                        <ul class="grid-view-caption">-->
<!--                            <li>-->
<!--                                <div class="brows-job-location">-->
<!--                                    <p><i class="fa fa-map-marker"></i>QBL Park, C40</p>-->
<!--                                </div>-->
<!--                            </li>-->
<!--                            <li>-->
<!--                                <p><span class="brows-job-sallery"><i class="fa fa-money"></i>$110 - 200</span></p>-->
<!--                            </li>-->
<!--                        </ul>-->
<!--                    </div>-->
<!--                </div>-->

<!--                &lt;!&ndash; Single Job Grid &ndash;&gt;-->
<!--                <div class="col-md-3 col-sm-6">-->
<!--                    <div class="grid-view brows-job-list">-->
<!--                        <div class="brows-job-company-img">-->
<!--                            <img src="http://via.placeholder.com/150x150" class="img-responsive" alt="" />-->
<!--                        </div>-->
<!--                        <div class="brows-job-position">-->
<!--                            <h3><a href="job-detail.html">Web Developer</a></h3>-->
<!--                            <p><span>Google</span></p>-->
<!--                        </div>-->
<!--                        <div class="job-position">-->
<!--                            <span class="job-num">5 Position</span>-->
<!--                        </div>-->
<!--                        <div class="brows-job-type">-->
<!--                            <span class="enternship">Enternship</span>-->
<!--                        </div>-->
<!--                        <ul class="grid-view-caption">-->
<!--                            <li>-->
<!--                                <div class="brows-job-location">-->
<!--                                    <p><i class="fa fa-map-marker"></i>QBL Park, C40</p>-->
<!--                                </div>-->
<!--                            </li>-->
<!--                            <li>-->
<!--                                <p><span class="brows-job-sallery"><i class="fa fa-money"></i>$110 - 200</span></p>-->
<!--                            </li>-->
<!--                        </ul>-->
<!--                    </div>-->
<!--                </div>-->

<!--            </div>-->
<!--            &lt;!&ndash;/.Browse Job In Grid&ndash;&gt;-->

        </div>
    </section>
    <div class="clearfix"></div>
    <!-- Latest Job End-->

    <!-- video section Start -->
<!--    <section class="video-sec dark" id="video" style="background-image:url(http://via.placeholder.com/1920x850);">-->
<!--        <div class="container">-->
<!--            <div class="row">-->
<!--                <div class="main-heading">-->
<!--                    <p>Best For Your Projects</p>-->
<!--                    <h2>Watch Our <span>video</span></h2>-->
<!--                </div>-->
<!--            </div>-->
<!--            &lt;!&ndash;/row&ndash;&gt;-->
<!--            <div class="video-part">-->
<!--                <a href="#" data-toggle="modal" data-target="#my-video" class="video-btn"><i class="fa fa-play"></i></a>-->
<!--            </div>-->
<!--        </div>-->
<!--    </section>-->
<!--    <div class="clearfix"></div>-->
<!--    &lt;!&ndash; video section Start &ndash;&gt;-->

    <!-- ====================== How It Work ================= -->
    <section class="how-it-works">
        <div class="container">

            <div class="row" data-aos="fade-up">
                <div class="col-md-12">
                    <div class="main-heading">
                        <p>Working Process</p>
                        <h2>How It <span>Works</span></h2>
                    </div>
                </div>
            </div>

            <div class="row">

                <div class="col-md-4 col-sm-4">
                    <div class="working-process">
								<span class="process-img">
									<img src="assets/img/step-1.png" class="img-responsive" alt="" />
									<span class="process-num">01</span>
								</span>
                        <h4>Create An Account</h4>
                        <p>Post a job to tell us about your project. We'll quickly match you with the right freelancers find place best.</p>
                    </div>
                </div>

                <div class="col-md-4 col-sm-4">
                    <div class="working-process">
								<span class="process-img">
									<img src="assets/img/step-2.png" class="img-responsive" alt="" />
									<span class="process-num">02</span>
								</span>
                        <h4>Search Jobs</h4>
                        <p>Post a job to tell us about your project. We'll quickly match you with the right freelancers find place best.</p>
                    </div>
                </div>

                <div class="col-md-4 col-sm-4">
                    <div class="working-process">
								<span class="process-img">
									<img src="assets/img/step-3.png" class="img-responsive" alt="" />
									<span class="process-num">03</span>
								</span>
                        <h4>Save & Apply</h4>
                        <p>Post a job to tell us about your project. We'll quickly match you with the right freelancers find place best.</p>
                    </div>
                </div>

            </div>

        </div>
    </section>
    <div class="clearfix"></div>

    <!-- testimonial section Start -->
    <section class="testimonial" id="testimonial">
        <div class="container">
            <div class="row">
                <div class="main-heading">
                    <p>What Say Our Client</p>
                    <h2>Our Success <span>Stories</span></h2>
                </div>
            </div>
            <!--/row-->
            <div class="row">
                <div id="client-testimonial-slider" class="owl-carousel">
                    <div class="client-testimonial">
                        <div class="pic">
                            <img src="http://via.placeholder.com/150x150" alt="">
                        </div>
                        <p class="client-description">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor et dolore magna aliqua.
                        </p>
                        <h3 class="client-testimonial-title">Lacky Mole</h3>
                        <ul class="client-testimonial-rating">
                            <li class="fa fa-star-o"></li>
                            <li class="fa fa-star-o"></li>
                            <li class="fa fa-star"></li>
                        </ul>
                    </div>

                    <div class="client-testimonial">
                        <div class="pic">
                            <img src="http://via.placeholder.com/150x150" alt="">
                        </div>
                        <p class="client-description">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor et dolore magna aliqua.
                        </p>
                        <h3 class="client-testimonial-title">Karan Wessi</h3>
                        <ul class="client-testimonial-rating">
                            <li class="fa fa-star-o"></li>
                            <li class="fa fa-star"></li>
                            <li class="fa fa-star"></li>
                        </ul>
                    </div>

                    <div class="client-testimonial">
                        <div class="pic">
                            <img src="http://via.placeholder.com/150x150" alt="">
                        </div>
                        <p class="client-description">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor et dolore magna aliqua.
                        </p>
                        <h3 class="client-testimonial-title">Roul Pinchai</h3>
                        <ul class="client-testimonial-rating">
                            <li class="fa fa-star-o"></li>
                            <li class="fa fa-star-o"></li>
                            <li class="fa fa-star"></li>
                        </ul>
                    </div>

                    <div class="client-testimonial">
                        <div class="pic">
                            <img src="http://via.placeholder.com/150x150" alt="">
                        </div>
                        <p class="client-description">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor et dolore magna aliqua.
                        </p>
                        <h3 class="client-testimonial-title">Adam Jinna</h3>
                        <ul class="client-testimonial-rating">
                            <li class="fa fa-star-o"></li>
                            <li class="fa fa-star-o"></li>
                            <li class="fa fa-star"></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- testimonial section End -->

    <!-- Candidate Section Start -->
<!--    <section class="pricing">-->
<!--        <div class="container">-->
<!--            <div class="row">-->
<!--                <div class="col-md-12">-->
<!--                    <div class="main-heading">-->
<!--                        <p>Best Candidate of The Year</p>-->
<!--                        <h2>Hire Expert <span>Candidate</span></h2>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--            &lt;!&ndash;/row&ndash;&gt;-->

<!--            <div class="row">-->

<!--                &lt;!&ndash; Single Freelancer Style 2 &ndash;&gt;-->
<!--                <div class="col-md-4 col-sm-6">-->
<!--                    <div class="top-candidate-wrap style-2">-->
<!--                        <div class="top-candidate-box">-->
<!--                            <span class="tpc-status">Available</span>-->
<!--                            <h4 class="flc-rate">$17/hr</h4>-->
<!--                            <div class="tp-candidate-inner-box">-->
<!--                                <div class="top-candidate-box-thumb">-->
<!--                                    <img src="assets/img/can-5.jpg" class="img-responsive img-circle" alt="" />-->
<!--                                </div>-->
<!--                                <div class="top-candidate-box-detail">-->
<!--                                    <h4>Agustin L. Smith</h4>-->
<!--                                    <span class="location">Australia</span>-->
<!--                                </div>-->
<!--                                <div class="rattings">-->
<!--                                    <i class="fa fa-star fill"></i>-->
<!--                                    <i class="fa fa-star fill"></i>-->
<!--                                    <i class="fa fa-star fill"></i>-->
<!--                                    <i class="fa fa-star-half fill"></i>-->
<!--                                    <i class="fa fa-star"></i>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            <div class="top-candidate-box-extra">-->
<!--                                <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui.</p>-->
<!--                                <ul>-->
<!--                                    <li>Php</li>-->
<!--                                    <li>Android</li>-->
<!--                                    <li>Html</li>-->
<!--                                    <li class="more-skill bg-primary">+3</li>-->
<!--                                </ul>-->
<!--                            </div>-->
<!--                            <a href="top-candidate-detail.html" class="btn btn-candidate-two bg-default">View Detail</a>-->
<!--                            <a href="#l" class="btn btn-candidate-two bg-info">Shortlist</a>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->

<!--                &lt;!&ndash; Single Freelancer Style 2 &ndash;&gt;-->
<!--                <div class="col-md-4 col-sm-6">-->
<!--                    <div class="top-candidate-wrap style-2">-->
<!--                        <div class="top-candidate-box">-->
<!--                            <span class="tpc-status bg-warning">At Work</span>-->
<!--                            <h4 class="flc-rate">$22/hr</h4>-->
<!--                            <div class="tp-candidate-inner-box">-->
<!--                                <div class="top-candidate-box-thumb">-->
<!--                                    <img src="assets/img/can-5.jpg" class="img-responsive img-circle" alt="" />-->
<!--                                </div>-->
<!--                                <div class="top-candidate-box-detail">-->
<!--                                    <h4>Delores R. Williams</h4>-->
<!--                                    <span class="location">United States</span>-->
<!--                                </div>-->
<!--                                <div class="rattings">-->
<!--                                    <i class="fa fa-star fill"></i>-->
<!--                                    <i class="fa fa-star fill"></i>-->
<!--                                    <i class="fa fa-star fill"></i>-->
<!--                                    <i class="fa fa-star-half fill"></i>-->
<!--                                    <i class="fa fa-star"></i>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            <div class="top-candidate-box-extra">-->
<!--                                <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui.</p>-->
<!--                                <ul>-->
<!--                                    <li>Php</li>-->
<!--                                    <li>Android</li>-->
<!--                                    <li>Html</li>-->
<!--                                    <li class="more-skill bg-primary">+3</li>-->
<!--                                </ul>-->
<!--                            </div>-->
<!--                            <a href="top-candidate-detail.html" class="btn btn-candidate-two bg-default">View Detail</a>-->
<!--                            <a href="#l" class="btn btn-candidate-two bg-info">Shortlist</a>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->

<!--                &lt;!&ndash; Single Freelancer Style 2 &ndash;&gt;-->
<!--                <div class="col-md-4 col-sm-6">-->
<!--                    <div class="top-candidate-wrap style-2">-->
<!--                        <div class="top-candidate-box">-->
<!--                            <span class="tpc-status">Available</span>-->
<!--                            <h4 class="flc-rate">$19/hr</h4>-->
<!--                            <div class="tp-candidate-inner-box">-->
<!--                                <div class="top-candidate-box-thumb">-->
<!--                                    <img src="assets/img/can-5.jpg" class="img-responsive img-circle" alt="" />-->
<!--                                </div>-->
<!--                                <div class="top-candidate-box-detail">-->
<!--                                    <h4>Daniel Disroyer</h4>-->
<!--                                    <span class="location">Bangladesh</span>-->
<!--                                </div>-->
<!--                                <div class="rattings">-->
<!--                                    <i class="fa fa-star fill"></i>-->
<!--                                    <i class="fa fa-star fill"></i>-->
<!--                                    <i class="fa fa-star fill"></i>-->
<!--                                    <i class="fa fa-star-half fill"></i>-->
<!--                                    <i class="fa fa-star"></i>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            <div class="top-candidate-box-extra">-->
<!--                                <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui.</p>-->
<!--                                <ul>-->
<!--                                    <li>Php</li>-->
<!--                                    <li>Android</li>-->
<!--                                    <li>Html</li>-->
<!--                                    <li class="more-skill bg-primary">+3</li>-->
<!--                                </ul>-->
<!--                            </div>-->
<!--                            <a href="top-candidate-detail.html" class="btn btn-candidate-two bg-default">View Detail</a>-->
<!--                            <a href="#l" class="btn btn-candidate-two bg-info">Shortlist</a>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->

<!--            </div>-->

<!--            &lt;!&ndash; Single Freelancer &ndash;&gt;-->
<!--            <div class="row">-->
<!--                <div class="col-md-12 col-sm-12">-->
<!--                    <div class="text-center">-->
<!--                        <a href="freelancers-2.html" class="btn btn-primary">Load More</a>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->

<!--        </div>-->
<!--    </section>-->
    <!-- End Candidate Section -->

    <!-- Download app Section Start -->
    <section class="download-app inverse-bg" style="background:url(../assets/img/geometric-bg.jpg),linear-gradient(135deg,#11b719 0%,#11b719 100%)!important">
        <div class="container text-center">
            <div class="row">
                <div class="col-md-10 col-sm-10 col-md-offset-1 col-sm-offset-1">
                    <div class="app-content">
                        <h2>Download Our Best Apps</h2>
                        <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi.</p>
                        <a href="#" class="btn call-btn"><i class="fa fa-apple"></i>iPhone Store</a>
                        <a href="#" class="btn call-btn gps"><i class="fa fa-android"></i>Google Store</a>
                    </div>
                </div>
            </div>
            <!--/row-->
        </div>
    </section>
    <div class="clearfix"></div>
    <!-- Download app Section End -->


    <!-- Footer Section Start -->
    <footer class="footer light-footer">
        <div class="row lg-menu">
            <div class="container">
                <div class="col-md-4 col-sm-4">
                    <img src="../assets/img/footer-logo.png" class="img-responsive" alt="" />
                </div>
                <div class="col-md-8 co-sm-8 pull-right">
                    <ul>
                        <li><a href="index.html" title="">Home</a></li>
                        <li><a href="blog.html" title="">Blog</a></li>
                        <li><a href="404.html" title="">404</a></li>
                        <li><a href="faq.html" title="">FAQ</a></li>
                        <li><a href="contact.html" title="">Contact Us</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row no-padding">
            <div class="container">
                <div class="col-md-3 col-sm-12">
                    <div class="footer-widget">
                        <h3 class="widgettitle widget-title">About Job Stock</h3>
                        <div class="textwidget">
                            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem.</p>
                            <p>7860 North Park Place<br>
                                San Francisco, CA 94120</p>
                            <p><strong>Email:</strong> Support@careerdesk</p>
                            <p><strong>Call:</strong> <a href="tel:+15555555555">555-555-1234</a></p>
                            <ul class="footer-social">
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>

<!--                <div class="col-md-3 col-sm-4">-->
<!--                    <div class="footer-widget">-->
<!--                        <h3 class="widgettitle widget-title">All Navigation</h3>-->
<!--                        <div class="textwidget">-->
<!--                            <div class="textwidget">-->
<!--                                <ul class="footer-navigation">-->

<!--                                </ul>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->

                <div class="col-md-3 col-sm-4">
                    <div class="footer-widget">
                        <h3 class="widgettitle widget-title">All Categories</h3>
                        <div class="textwidget">
                            <ul class="footer-navigation">
                                <li><a href="manage-company.html" title="">Vệ sinh sau xây dựng</a></li>
                                <li><a href="manage-company.html" title="">Vệ sinh ghế Sofa, cửa, lau kính</a></li>
                                <li><a href="manage-company.html" title="">Vệ sinh phòng làm việct</a></li>
                                <li><a href="manage-company.html" title="">Chuyển đồ</a></li>
                                <li><a href="manage-company.html" title="">Dọn nhà vệ sinh</a></li>
                                <li><a href="manage-company.html" title="">Trong nguoi gia</a></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 col-sm-4">
                    <div class="footer-widget">
                        <h3 class="widgettitle widget-title">Connect Us</h3>
                        <div class="textwidget">
                            <form class="footer-form">
                                <input type="text" class="form-control" placeholder="Your Name">
                                <input type="text" class="form-control" placeholder="Email">
                                <textarea class="form-control" placeholder="Message"></textarea>
                                <button type="submit" class="btn btn-primary">Login</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row copyright">
            <div class="container">
                <p>Copyright Job Stock © 2017. All Rights Reserved </p>
            </div>
        </div>
    </footer>
    <div class="clearfix"></div>
    <!-- Footer Section End -->

    <!-- Sign Up Window Code -->
    <div class="modal fade" id="signup" tabindex="-1" role="dialog" aria-labelledby="myModalLabel2" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="tab" role="tabpanel">
                        <!-- Nav tabs -->
                        <ul class="nav nav-tabs" role="tablist">
                            <li role="presentation" class="active"><a href="#login" role="tab" data-toggle="tab">Sign In</a></li>
                            <li role="presentation"><a href="#register" role="tab" data-toggle="tab">Sign Up</a></li>
                        </ul>
                        <!-- Tab panes -->
                        <div class="tab-content" id="myModalLabel2">
                            <div role="tabpanel" class="tab-pane fade in active" id="login">
                                <img src="assets/img/logo.png" class="img-responsive" alt="" />
                                <div class="subscribe wow fadeInUp">
                                    <form class="form-inline" method="post">
                                        <div class="col-sm-12">
                                            <div class="form-group">
                                                <input type="email"  name="email" class="form-control" placeholder="Username" required="">
                                                <input type="password" name="password" class="form-control"  placeholder="Password" required="">
                                                <div class="center">
                                                    <button type="submit" id="login-btn" class="submit-btn"> Login </button>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>

                            <div role="tabpanel" class="tab-pane fade" id="register">
                                <img src="assets/img/logo.png" class="img-responsive" alt="" />
                                <form class="form-inline" method="post">
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            <input type="text"  name="email" class="form-control" placeholder="Your Name" required="">
                                            <input type="email"  name="email" class="form-control" placeholder="Your Email" required="">
                                            <input type="email"  name="email" class="form-control" placeholder="Username" required="">
                                            <input type="password" name="password" class="form-control"  placeholder="Password" required="">
                                            <div class="center">
                                                <button type="submit" id="subscribe" class="submit-btn"> Create Account </button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Sign Up Window -->

    <!-- Scripts
    ================================================== -->
    <script type="text/javascript" src="../assets/plugins/js/jquery.min.js"></script>
    <script type="text/javascript" src="../assets/plugins/js/viewportchecker.js"></script>
    <script type="text/javascript" src="../assets/plugins/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../assets/plugins/js/bootsnav.js"></script>
    <script type="text/javascript" src="../assets/plugins/js/select2.min.js"></script>
    <script type="text/javascript" src="../assets/plugins/js/wysihtml5-0.3.0.js"></script>
    <script type="text/javascript" src="../assets/plugins/js/bootstrap-wysihtml5.js"></script>
    <script type="text/javascript" src="../assets/plugins/js/datedropper.min.js"></script>
    <script type="text/javascript" src="../assets/plugins/js/dropzone.js"></script>
    <script type="text/javascript" src="../assets/plugins/js/loader.js"></script>
    <script type="text/javascript" src="../assets/plugins/js/owl.carousel.min.js"></script>
    <script type="text/javascript" src="../assets/plugins/js/slick.min.js"></script>
    <script type="text/javascript" src="../assets/plugins/js/gmap3.min.js"></script>
    <script type="text/javascript" src="../assets/plugins/js/jquery.easy-autocomplete.min.js"></script>
    <!-- Custom Js -->
    <script src="../assets/js/custom.js"></script>

</div>
</body>
</html>