<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<div>
    <h1>Find Job</h1>
    <form action="/jobs/findJob" method="post">
        <select name="jobCategories">
            <option value="none">--Không chọn--</option>
            <option value="Vệ sinh sau xây dựng">Vệ sinh sau xây dựng</option>
            <option value="Vệ sinh ghế Sofa, cửa, lau kính">Vệ sinh ghế Sofa, cửa, lau kính</option>
            <option value="Vệ sinh phòng làm việc">Vệ sinh phòng làm việc</option>
            <option value="Dọn nhà vệ sinh">Dọn nhà vệ sinh</option>
            <option value="Chuyển đồ">Chuyển đồ</option>
        </select>
        <select name="jobLocation">
            <option value="none">--Không chọn--</option>
            <option value="Quận Ba Đình">Quận Ba Đình</option>
            <option value="Quận Thanh Xuân">Quận Thanh Xuân</option>
            <option value="Quận Tây Hồ">Quận Tây Hồ</option>
            <option value="Quận Hoàng Mai">Quận Hoàng Mai</option>
            <option value="Quận Long Biên">Quận Long Biên</option>
            <option value="Quận Hai Bà Trưng">Quận Hai Bà Trưng</option>
            <option value="Quận Đống Đa">Quận Đống Đa</option>
            <option value="Quận Bắc Từ Liêm">Quận Bắc Từ Liêm</option>
        </select>
        <select name="totalTime">
            <option value="none">--Không chọn--</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
        </select>
        <input type="submit" value="Submit">
    </form>
</div>

</body>
</html>