<<<<<<< HEAD
<!doctype html>
<html lang="en">
<head>
	<!-- Basic Page Needs
	================================================== -->
	<title>Job Stock - Responsive Job Portal Bootstrap Template | ThemezHub</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<!-- CSS
	================================================== -->
	<link rel="stylesheet" href="../assets/plugins/css/plugins.css">
    <link href="../assets/css/style.css" rel="stylesheet">
	
</head>

	<body>
		<div class="Loader"></div>
		<div class="wrapper">  
			
			<!-- Start Navigation -->
			<nav class="navbar navbar-default navbar-fixed navbar-light white bootsnav">

				<div class="container">            
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu">
						<i class="fa fa-bars"></i>
					</button>
					<!-- Start Header Navigation -->
					<div class="navbar-header">
						<a class="navbar-brand" href="index.html">
							<img src="../assets/img/logo.png" class="logo logo-scrolled" alt="">
						</a>
					</div>

					<!-- Collect the nav links, forms, and other content for toggling -->
					<div class="collapse navbar-collapse" id="navbar-menu">
						
						<ul class="nav navbar-nav navbar-right" data-in="fadeInDown" data-out="fadeOutUp">
							<li><a href="login.html"><i class="fa fa-pencil" aria-hidden="true"></i>Sign Out</a></li>
<!--							<li class="left-br"><a href="javascript:void(0)"  data-toggle="modal" data-target="#signup" class="signin">Sign In Now</a></li>-->
						</ul>
					</div><!-- /.navbar-collapse -->
				</div>   
			</nav>
			<!-- End Navigation -->
			<div class="clearfix"></div>
			
			<!-- Title Header Start -->
			<section class="inner-header-title" style="background-color: grey">
				<div class="container">
					<h1>Browse Jobs</h1>
				</div>
			</section>
			<div class="clearfix"></div>
			<!-- Title Header End -->
			
			<!-- ========== Begin: Brows job ===============  -->
			<section>
				<div class="container">
					<!-- Company Searrch Filter Start -->
					<div class="row extra-mrg">
						<div class="wrap-search-filter">
							<form>
								<div class="col-md-3 col-sm-3">
									<select class="form-control" id="j-category" name="jobCategories">
										<option value="none">khong chon</option>
										<option value="Vệ sinh sau xây dựng">Vệ sinh sau xây dựng</option>
										<option value="Vệ sinh ghế sofa, cửa, lau kính">Vệ sinh ghế sofa, cửa, lau kính</option>
										<option value="Vệ sinh phòng làm việc">Vệ sinh phòng làm việc</option>
										<option value="Dọn nhà vệ sinh">Dọn nhà vệ sinh</option>
										<option value="Chuyển đồ">Chuyển đồ</option>
									</select>

								</div>
								
								<div class="col-md-3 col-sm-3">
									<select class="form-control" id="j-category" name="jobLocation">
										<!-- <option value="">&nbsp;</option> -->
										<option value="none">khong chon</option>

										<option value="Quận Ba Đình">Quận Ba Đình</option>
										<option value="uận Hoàn Kiếm">Quận Hoàn Kiếm</option>
										<option value="Quận Tây Hồ">Quận Tây Hồ</option>
										<option value="Quận Long Biên">Quận Long Biên</option>
										<option value="uận Cầu Giấ">Quận Cầu Giấy</option>
										<option value="Quận Đống Đa">Quận Đống Đa</option>
										<option value="Quận Hai Bà Trưng">Quận Hai Bà Trưng</option>
										<option value="Quận Hoàng Mai">Quận Hoàng Mai</option>
										<option value="Quận Thanh Xuân">Quận Thanh Xuân</option>
										<option value="Quận Nam Từ Liêm">Quận Nam Từ Liêm</option>
										<option value="Quận Bắc Từ Liêm">Quận Bắc Từ Liêm</option>
										<option value="Quận Hà Đông">Quận Hà Đông</option>
									</select>

								</div>

								<div class="col-md-4 col-sm-4">
									<select class="form-control" id="j-category" name="totalTime">
										<option value="none">--Không chọn--</option>
										<option value="1">1</option>
										<option value="2">2</option>
										<option value="3">3</option>
										<option value="4">4</option>
									</select>
<!--									<input type="String" class="form-control" placeholder="Total Time">-->
								</div>

								<div class="col-md-2 col-sm-2">
									<button type="submit" class="btn btn-primary full-width">Filter</button>
								</div>
							</form>
						</div>
					</div>
					<!-- Company Searrch Filter End -->
					
					<div class="item-click">
						<article>
							<div>
								<ul>
									<% for (var i = 0; i < jobRes.length; i++){ %>
									<li class="data-item">


										<div class="item-click">
											<article>
												<div class="brows-job-list">
													<div class="col-md-6 col-sm-6">
														<div class="item-fl-box">
															<div class="brows-job-company-img">
																<a href="job-detail.html"><img src="http://via.placeholder.com/150x150" class="img-responsive" alt="" /></a>
															</div>
															<div class="brows-job-position">
																<h3><a href="job-apply-detail.html"><%= jobRes[i].jobCategories %></a></h3>
																<p>
																	<span><%= jobRes[i].jobTimeBegin %></span><span class="brows-job-sallery"><i class="fa fa-money"></i><%= jobRes[i].salary %></span>
																	<span class="job-type bg-trans-success cl-success"><%= jobRes[i].totalTime %></span>
																</p>
															</div>
														</div>
													</div>
													<div class="col-md-4 col-sm-4">
														<div class="brows-job-location">
															<p><i class="fa fa-map-marker"></i><%= jobRes[i].jobLocation %></p>
														</div>
													</div>
													<div class="col-md-2 col-sm-2">
														<div class="brows-job-link">
															<a href="job-apply-detail.html" class="btn btn-default">Apply Now</a>
														</div>
													</div>
												</div>
											</article>
										</div>



									</li>
									<% } %>
								</ul>
								<div>
									<%
									if(parseInt(page) > 1){
									%>
										<span>
        <a href="/jobs/list?page=<%= parseInt(page) - 1 %>&limit=<%= limit %>">
            <%= parseInt(page) - 1 %></a>
    </span>
									<%
									}
									%>
									<span><%= page %></span>
									<%
									if(parseInt(page) < parseInt(totalPage)){
									%>
										<span>
        <a href="/jobs/list?page=<%= parseInt(page) + 1 %>&limit=<%= limit %>">
            <%= parseInt(page) + 1 %></a>
    </span>
									<%
									}
									%>
								</div>
							</div>
						</article>
					</div>
				

					
					<!--/.row-->
<!--					<div class="row">-->
<!--						<ul class="pagination">-->
<!--							<li><a href="#"><i class="ti-arrow-left"></i></a></li>-->
<!--							<li class="active"><a href="#">1</a></li>-->
<!--							<li><a href="#">2</a></li>-->
<!--							<li><a href="#">3</a></li> -->
<!--							<li><a href="#">4</a></li> -->
<!--							<li><a href="#"><i class="fa fa-ellipsis-h"></i></a></li> -->
<!--							<li><a href="#"><i class="ti-arrow-right"></i></a></li> -->
<!--						</ul>-->
<!--					</div>-->
					
				</div>
			</section>
			<!-- ========== Begin: Brows job End ===============  -->
			
			<!-- Footer Section Start -->
			<footer class="footer">
				<div class="row lg-menu">
					<div class="container">
						<div class="col-md-4 col-sm-4">
							<img src="assets/img/footer-logo.png" class="img-responsive" alt="" /> 
						</div>
						<div class="col-md-8 co-sm-8 pull-right">
							<ul>
								<li><a href="index.html" title="">Home</a></li>
							</ul>
						</div>
					</div>
				</div>
				
			</footer>
			
			<!-- Scripts
			================================================== -->
			<script type="text/javascript" src="../assets/plugins/js/jquery.min.js"></script>
			<script type="text/javascript" src="../assets/plugins/js/viewportchecker.js"></script>
			<script type="text/javascript" src="../assets/plugins/js/bootstrap.min.js"></script>
			<script type="text/javascript" src="../assets/plugins/js/bootsnav.js"></script>
			<script type="text/javascript" src="../assets/plugins/js/select2.min.js"></script>
			<script type="text/javascript" src="../assets/plugins/js/wysihtml5-0.3.0.js"></script>
			<script type="text/javascript" src="../assets/plugins/js/bootstrap-wysihtml5.js"></script>
			<script type="text/javascript" src="../assets/plugins/js/datedropper.min.js"></script>
			<script type="text/javascript" src="../assets/plugins/js/dropzone.js"></script>
			<script type="text/javascript" src="../assets/plugins/js/loader.js"></script>
			<script type="text/javascript" src="../assets/plugins/js/owl.carousel.min.js"></script>
			<script type="text/javascript" src="../assets/plugins/js/slick.min.js"></script>
			<script type="text/javascript" src="../assets/plugins/js/gmap3.min.js"></script>
			<script type="text/javascript" src="../assets/plugins/js/jquery.easy-autocomplete.min.js"></script>
			<!-- Custom Js -->
			<script src="../assets/js/custom.js"></script>
			
		</div>
	</body>
=======
<!doctype html>
<html lang="en">
<head>
	<!-- Basic Page Needs
	================================================== -->
	<title>Job Stock - Responsive Job Portal Bootstrap Template | ThemezHub</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<!-- CSS
	================================================== -->
	<link rel="stylesheet" href="../assets/plugins/css/plugins.css">
    <link href="../assets/css/style.css" rel="stylesheet">
	
</head>

	<body>
		<div class="Loader"></div>
		<div class="wrapper">  
			
			<!-- Start Navigation -->
			<nav class="navbar navbar-default navbar-fixed navbar-light white bootsnav">

				<div class="container">            
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu">
						<i class="fa fa-bars"></i>
					</button>
					<!-- Start Header Navigation -->
					<div class="navbar-header">
						<a class="navbar-brand" href="index.html">
							<img src="../assets/img/logo.png" class="logo logo-scrolled" alt="">
						</a>
					</div>

					<!-- Collect the nav links, forms, and other content for toggling -->
					<div class="collapse navbar-collapse" id="navbar-menu">
						
						<ul class="nav navbar-nav navbar-right" data-in="fadeInDown" data-out="fadeOutUp">
							<li><a href="login.html"><i class="fa fa-pencil" aria-hidden="true"></i>Sign Out</a></li>
							<li class="left-br"><a href="javascript:void(0)"  data-toggle="modal" data-target="#signup" class="signin">Sign In Now</a></li>
						</ul>
					</div><!-- /.navbar-collapse -->
				</div>   
			</nav>
			<!-- End Navigation -->
			<div class="clearfix"></div>
			
			<!-- Title Header Start -->
			<section class="inner-header-title" style="background-image:url(http://via.placeholder.com/1920x850);">
				<div class="container">
					<h1>Browse Jobs</h1>
				</div>
			</section>
			<div class="clearfix"></div>
			<!-- Title Header End -->
			
			<!-- ========== Begin: Brows job ===============  -->
			<section>
				<div class="container">
					<!-- Company Searrch Filter Start -->
					<div class="row extra-mrg">
						<div class="wrap-search-filter">
							<form>
								<div class="col-md-3 col-sm-3">
									<select class="form-control" id="j-category" name="jobCategories">
										<option value="none">khong chon</option>
										<option value="Vệ sinh sau xây dựng">Vệ sinh sau xây dựng</option>
										<option value="Vệ sinh ghế sofa, cửa, lau kính">Vệ sinh ghế sofa, cửa, lau kính</option>
										<option value="Vệ sinh phòng làm việc">Vệ sinh phòng làm việc</option>
										<option value="Dọn nhà vệ sinh">Dọn nhà vệ sinh</option>
										<option value="Chuyển đồ">Chuyển đồ</option>
									</select>

								</div>
								
								<div class="col-md-3 col-sm-3">
									<select class="form-control" id="j-category" name="jobLocation">
										<!-- <option value="">&nbsp;</option> -->
										<option value="none">khong chon</option>

										<option value="Quận Ba Đình">Quận Ba Đình</option>
										<option value="uận Hoàn Kiếm">Quận Hoàn Kiếm</option>
										<option value="Quận Tây Hồ">Quận Tây Hồ</option>
										<option value="Quận Long Biên">Quận Long Biên</option>
										<option value="uận Cầu Giấ">Quận Cầu Giấy</option>
										<option value="Quận Đống Đa">Quận Đống Đa</option>
										<option value="Quận Hai Bà Trưng">Quận Hai Bà Trưng</option>
										<option value="Quận Hoàng Mai">Quận Hoàng Mai</option>
										<option value="Quận Thanh Xuân">Quận Thanh Xuân</option>
										<option value="Quận Nam Từ Liêm">Quận Nam Từ Liêm</option>
										<option value="Quận Bắc Từ Liêm">Quận Bắc Từ Liêm</option>
										<option value="Quận Hà Đông">Quận Hà Đông</option>
									</select>

								</div>

								<div class="col-md-4 col-sm-4">
									<select class="form-control" id="j-category" name="totalTime">
										<option value="none">--Không chọn--</option>
										<option value="1">1</option>
										<option value="2">2</option>
										<option value="3">3</option>
										<option value="4">4</option>
									</select>
<!--									<input type="String" class="form-control" placeholder="Total Time">-->
								</div>

								<div class="col-md-2 col-sm-2">
									<button type="submit" class="btn btn-primary full-width">Filter</button>
								</div>
							</form>
						</div>
					</div>
					<!-- Company Searrch Filter End -->
					
					<div class="item-click">
						<article>
							<div>
								<ul>
									<% for (var i = 0; i < jobRes.length; i++){ %>
									<li class="data-item">


										<div class="item-click">
											<article>
												<div class="brows-job-list">
													<div class="col-md-6 col-sm-6">
														<div class="item-fl-box">
															<div class="brows-job-company-img">
																<a href="job-detail.html"><img src="http://via.placeholder.com/150x150" class="img-responsive" alt="" /></a>
															</div>
															<div class="brows-job-position">
																<h3><a href="job-apply-detail.html"><%= jobRes[i].jobCategories %></a></h3>
																<p>
																	<span><%= jobRes[i].jobTimeBegin %></span><span class="brows-job-sallery"><i class="fa fa-money"></i><%= jobRes[i].salary %></span>
																	<span class="job-type bg-trans-success cl-success"><%= jobRes[i].totalTime %></span>
																</p>
															</div>
														</div>
													</div>
													<div class="col-md-4 col-sm-4">
														<div class="brows-job-location">
															<p><i class="fa fa-map-marker"></i><%= jobRes[i].jobLocation %></p>
														</div>
													</div>
													<div class="col-md-2 col-sm-2">
														<div class="brows-job-link">
															<a href="job-apply-detail.html" class="btn btn-default">Apply Now</a>
														</div>
													</div>
												</div>
											</article>
										</div>



									</li>
									<% } %>
								</ul>
								<div>
									<%
									if(parseInt(page) > 1){
									%>
										<span>
        <a href="/jobs/list?page=<%= parseInt(page) - 1 %>&limit=<%= limit %>">
            <%= parseInt(page) - 1 %></a>
    </span>
									<%
									}
									%>
									<span><%= page %></span>
									<%
									if(parseInt(page) < parseInt(totalPage)){
									%>
										<span>
        <a href="/jobs/list?page=<%= parseInt(page) + 1 %>&limit=<%= limit %>">
            <%= parseInt(page) + 1 %></a>
    </span>
									<%
									}
									%>
								</div>
							</div>
						</article>
					</div>
				

					
					<!--/.row-->
<!--					<div class="row">-->
<!--						<ul class="pagination">-->
<!--							<li><a href="#"><i class="ti-arrow-left"></i></a></li>-->
<!--							<li class="active"><a href="#">1</a></li>-->
<!--							<li><a href="#">2</a></li>-->
<!--							<li><a href="#">3</a></li> -->
<!--							<li><a href="#">4</a></li> -->
<!--							<li><a href="#"><i class="fa fa-ellipsis-h"></i></a></li> -->
<!--							<li><a href="#"><i class="ti-arrow-right"></i></a></li> -->
<!--						</ul>-->
<!--					</div>-->
					
				</div>
			</section>
			<!-- ========== Begin: Brows job End ===============  -->
			
			<!-- Footer Section Start -->
			<footer class="footer">
				<div class="row lg-menu">
					<div class="container">
						<div class="col-md-4 col-sm-4">
							<img src="assets/img/footer-logo.png" class="img-responsive" alt="" /> 
						</div>
						<div class="col-md-8 co-sm-8 pull-right">
							<ul>
								<li><a href="index.html" title="">Home</a></li>
							</ul>
						</div>
					</div>
				</div>
				
			</footer>
			
			<!-- Scripts
			================================================== -->
			<script type="text/javascript" src="../assets/plugins/js/jquery.min.js"></script>
			<script type="text/javascript" src="../assets/plugins/js/viewportchecker.js"></script>
			<script type="text/javascript" src="../assets/plugins/js/bootstrap.min.js"></script>
			<script type="text/javascript" src="../assets/plugins/js/bootsnav.js"></script>
			<script type="text/javascript" src="../assets/plugins/js/select2.min.js"></script>
			<script type="text/javascript" src="../assets/plugins/js/wysihtml5-0.3.0.js"></script>
			<script type="text/javascript" src="../assets/plugins/js/bootstrap-wysihtml5.js"></script>
			<script type="text/javascript" src="../assets/plugins/js/datedropper.min.js"></script>
			<script type="text/javascript" src="../assets/plugins/js/dropzone.js"></script>
			<script type="text/javascript" src="../assets/plugins/js/loader.js"></script>
			<script type="text/javascript" src="../assets/plugins/js/owl.carousel.min.js"></script>
			<script type="text/javascript" src="../assets/plugins/js/slick.min.js"></script>
			<script type="text/javascript" src="../assets/plugins/js/gmap3.min.js"></script>
			<script type="text/javascript" src="../assets/plugins/js/jquery.easy-autocomplete.min.js"></script>
			<!-- Custom Js -->
			<script src="../assets/js/custom.js"></script>
			
		</div>
	</body>
>>>>>>> 22b441624287d7553e61aef99932456ade9847cf
</html>